#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url("@/assets/together.jpg");
    background-size: cover;
}

nav {
    padding: 30px;
}

nav a.nav-link {
    color: #000000 !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

nav a.nav-link:hover {
    color: #fc4c69 !important;
    text-decoration: underline;
    text-decoration-color: #fc4c69;
    text-underline-offset: 0.25rem;
    animation-name: skew-y-shakeing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

nav a.router-link-active {
    color: #ff8499 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #fc4c69;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
    color: #ff8499;
}

@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(1px, 1px) rotate(0.25deg);
    }
    50% {
        transform: translate(0, 0) rotate(0deg);
    }
    75% {
        transform: translate(-1px, 1px) rotate(-0.25deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes skew-y-shakeing {
    0% {
        transform: skewY(-5deg);
    }
    5% {
        transform: skewY(5deg);
    }
    10% {
        transform: skewY(-5deg);
    }
    15% {
        transform: skewY(5deg);
    }
    20% {
        transform: skewY(0deg);
    }
    100% {
        transform: skewY(0deg);
    }
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

a {
    color: #000000 !important;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

a:hover {
    color: #fc4c69 !important;
    text-decoration: underline;
    text-decoration-color: #fc4c69;
    text-underline-offset: 0.25rem;
}

/* When the modal is visible, apply the following styles */
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background color */
    position: fixed; /* Position type is fixed */
    z-index: 1050; /* Z-index determines the stacking order of the modal window */
    left: 0; /* Left position is zero */
    top: 0; /* Top position is zero */
    width: 100%; /* Width is 100% */
    height: 100%; /* Height is 100% */
    overflow: hidden; /* Hides the rest of the content that does not fit into the area */
}

/* Define a base font size */
html {
    font-size: 16px; /* Adjust as needed */
}

/* Define modal width using rem units */
.modal-dialog {
    margin: auto;
    max-width: 30rem; /* Default maximum width */
    width: auto;
    transform: none;
    top: 10%; /* Adjust top position as needed */
    bottom: auto;
    left: 0;
    right: 0;
}

.modal-login {
    max-width: 20rem;
}

.modal-logout {
    max-width: 15rem;
}

.event-wrapper:hover {
    animation-name: tilt-n-move-shaking;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    background-color: #fff6f8 !important;
}

.pointer {
    cursor: pointer;
}

.event-filter:hover {
    background-color: #fff6f8 !important;
}

.playpal-bg {
    background-color: #fff6f8;
}

.host-icon {
    color: #ffe193;
    background-color: #4d0028;
}

.host-icon:hover {
    color: #4d0028;
    background-color: #ffe193;
}


/* PRIMARY OVERRIDE */

.text-primary {
    color: #fc4c69 !important;
}

.btn-primary {
    background-color: #ff889c;
    border-color: #fc4c69;
}

.btn-primary:hover {
    color: #ffffff;
    border-color: #fc4c69;
    background-color: #ff0026;
}

.btn-primary:focus {
    color: #fc4c69;
    border-color: #fc4c69;
    background-color: #ffffff;
}

.btn-primary:active {
    color: #ffffff !important;
    border-color: #fc4c69 !important;
    background-color: #fc4c69 !important;
}

.btn-outline-primary {
    color: #fc4c69;
    border-color: #fc4c69;
    background-color: #ffffff;
}

.btn-outline-primary:hover {
    background-color: #ff889c;
    border-color: #fc4c69;
}

.btn-outline-primary:focus {
    background-color: #ff889c;
    border-color: #fc4c69;
}

.border-primary {
    border-color: #fc4c69 !important;
}

.border-primary-subtle {
    border-color: #ff889c !important;
}


/* SECONDARY OVERRIDE */

.text-secondary {
    color: #fc7b4c !important;
}

.btn-secondary {
    background-color: #fdb996;
    border-color: #fc7b4c;
}

.btn-secondary:hover {
    color: #ffffff !important;
    border-color: #fc7b4c;
    background-color: #fc7b4c;
}

.btn-secondary:focus {
    color: #ffffff;
    border-color: #fc7b4c;
}

.btn-secondary:active {
    color: #ffffff !important;
    border-color: #fc7b4c !important;
    background-color: #fc7b4c !important;
}

.btn-outline-secondary {
    color: #fc7b4c;
    border-color: #fc7b4c;
    background-color: #ffffff;
}

.btn-outline-secondary:hover, .btn-outline-secondary:focus {
    background-color: #fdb996 !important;
    border-color: #fc7b4c;
}

.border-secondary {
    border-color: #fc7b4c !important;
}

.border-secondary-subtle {
    border-color: #fdb996 !important;
}


/* DARK OVERRIDE */

.btn-dark {
    background-color: #797979;
    border-color: #000000;
}

.btn-dark:hover {
    background-color: #000000;
    border-color: #000000;
}


/* Custom Alert Styling */
.alert-style {
    position: fixed;
    z-index: 9999;
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Custom Alert Styling for Error Messages*/
.input-invalid {
    color: red;
    margin-top: 5px;
}

/* Custom Icon Styling */
.icon {
    color: #666666;
}

.icon:hover {
    color: #fc4c69;
}

.event-image-control {
    max-height: 13rem;
}

.leave-event {
    color: #ffd600;
    background-color: #000000;
}

